{% extends 'personal/base.html' %}
{% load static %}

{% block content %}
<div><h1 class="Title">Привет! Меня зовут Андрей. </h1>  </div>
<div class="portf">
  <div class="img">
    <img src="{% static 'personal/photo_2025-07-10_12-19-34.jpg' %}" alt="Фото Андрея">
  </div>
  <div class="blog">
    <h3>Обо мне </h3>
    Я начинающий Python-разработчик, увлечённый созданием понятных и надёжных решений.<br>
    Сейчас работаю продавцом-консультантом в строительном магазине <strong>Lemana Pro</strong>,<br>
    но активно развиваюсь в сфере IT и стремлюсь построить карьеру в разработке. Я прохожу курсы по Python
    и изучаю основы backend-разработки,
    автоматизации и анализа данных. Мне нравится решать задачи, писать чистый код и видеть, как идея превращается в работающий проект.
    Сейчас в моём портфолио — учебные проекты, но я постоянно учусь и готов к реальным задачам.
  </div>
</div>
<a href="{% url 'index' %}">Вернуться на главную</a>
{% endblock %}