{% extends 'base.html'%}

{% block content%}
<h1 style="text-align: center">О игре</h1>
<h3 style="color: darkred; text-align: center; font-family: Arial, Helvetica, sans-serif;">
    Elden Ring представляет собой action/RPG с видом от третьего лица, схожую с серией Dark Souls.
    Хотя игра и не имеет прямой связи с этой серией, с точки зрения игрового процесса она в большой степени основана на Dark Souls.
    Подобно предыдущим играм FromSoftware, в Elden Ring есть шкала выносливости — запаса сил персонажа, которые он может потратить на удары или бег; тем не менее, эта шкала не так сильно влияет на игровой процесс, как в серии Souls, где исчерпание выносливости делало персонажа беспомощным перед лицом врагов.
    Игроку доступно огромное количество разного оружия, доспехов, предметов и заклинаний — большее, чем в серии Dark Souls.
</h3>

{% endblock %}