{% extends 'base.html'%}

{% block content%}
<h1 style="text-align: center" >Главная страница</h1>
<hr>
<h2 style="color: darkred; text-align: center; font-family: Arial, Helvetica, sans-serif;">
    Elden Ring</h2>
<h3 style="color: darkred; text-align: center; font-family: Arial, Helvetica, sans-serif;" >Игра в жанре action/RPG с открытым миром, разработанная японской компанией FromSoftware и
    изданная компанией Bandai Namco Entertainment для платформ Windows, PlayStation 4, PlayStation 5,
    Xbox One и Xbox Series X/S.
    Руководителем разработки игры является Хидэтака Миядзаки, а американский писатель Джордж Мартин,
    известный по циклу книг «Песнь льда и огня», выступил консультантом и соавтором сценария[2].</h3>
<h2>Комментарии
</h2>
<ul>
    {% for p in posts%}
    <li>
        <p class="title">
            <a href="{{ url_for('show_post', id_post=p.id) }}"></a>
            {{ p.title }}
        </p><div class="annonce">{{ p.text }}</div>
    </li>
    {% endfor %}
</ul>





{% endblock %}