body{
    background: rgb(247, 216, 254);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.menu{
    display: list-item;
    justify-content: space-around;
    list-style: none;
    background: rgba(174, 120, 224, 0.952);
    padding: 20px;
    margin-top: 0;
}
.menu a{

}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.flash {
    padding: 10px;
}
.success{
    border: 1px solid #21db56;
    background: #AEffc5;
}
.error{
    border: 1px solid #ff4343;
    background: #ff9c9c;
}
ul {
    list-style: none;
    padding: 0;
}

p > a{
    text-decoration: none;
    color: brown;
}

li > p, li div{
    border: 1px solid #CCCCCC;
    padding: 10px 20px;
}

p.title{
    margin: 0;
    font-weight: bold;
    background: rgb(163, 87, 186);    
    border-radius: 10px;
}

p.title a{
    display: block;
    padding: 10px 0;
    
}

p.title:hover{
    background: rgb(124, 21, 150);
    border-radius: 10px;
}

.annonce{
    margin-top: -1px;
    margin-bottom: 40px;
    background: rgb(234, 205, 86);
    border-radius: 10px;
}