{% extends 'personal/base.html' %}
{% load static %}

{% block content %}
<h1><img class="me" src="{% static 'personal/IMG_20250707_201013.jpg' %}" alt=""></h1>
<div class="text">
<h3>Привет! Меня зовут Андрей.</h3>
    <p>Я начинающий Python-разработчик,
    увлечённый изучением программирования и построением логичных, понятных решений.
    Сейчас я работаю продавцом-консультантом в строительном магазине Lemana Pro,
    но активно развиваюсь в IT и хочу построить карьеру в этой сфере.</p></div>
{% endblock %}